.bmi-page{
  background-color: black;
  min-height: 100vh;     
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  padding-top: 120px;     
  padding-bottom: 40px; 
}
.bmi-container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background:#f5f9ff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-align: center;
  border: 1px solid #dce7f5;
}

.bmi-container h2 {
  font-size: 28px;
  font-family: "Trebuchet MS", sans-serif;
  margin-bottom: 10px;
}

.bmi-container p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", sans-serif;
}

.bmi-container input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
}

.bmi-container button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Trebuchet MS", sans-serif;
}

.bmi-container button:hover {
  background: #0056b3;
}

.bmi-result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.bmi-advice {
  font-size: 16px;
  margin-top: 10px;
  color: #444;
  font-family: "Trebuchet MS", sans-serif;
}
