.home {
    font-family: "Poppins", sans-serif;
    padding-bottom: 40px;
}

.home-header {
    text-align: center;
    padding: 50px 20px;
    background: #f5f9ff;
    border-bottom: 2px solid #ddd;
}

.home-logo {
    width: 90px;
    margin-bottom: 10px;
}

.home-title {
    font-size: 36px;
    font-weight: 700;
    color: #222;
    font-family: "Trebuchet MS", sans-serif;

}

.home-subtitle {
    font-size: 20px;
    margin-top: 10px;
    color: #222;
    font-family: "Trebuchet MS", sans-serif;
}

.mission-section {
    margin: 40px auto;
    max-width: 800px;
    background:#f5f9ff;
    padding: 25px 20px;
    text-align: center;
    border: 2px solid #222;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.mission-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS", sans-serif;
}

.mission-section p {
    font-size: 20px;
    color: #444;
    line-height: 1.6;
    font-family: "Trebuchet MS", sans-serif;
}


.statistics-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    margin: 40px 20px;
}

.statistics-box {
    width: 160px;
    padding: 20px;
    background: #f5f9ff;
    
    border: 2px solid #000;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.statistics-box:hover {
    transform: translateY(-6px);
    background: #f5f9ff;
}

.statistics-box h3 {
    font-size: 28px;
    color: #000;
    margin-bottom: 8px;
}

.statistics-box p {
    font-size: 15px;
    color: #333;
    font-family: "Trebuchet MS", sans-serif;
}

.reviews-section {
    margin: 50px auto;
    max-width: 900px;
    text-align: center;
}

.reviews-section h2 {
    font-size: 30px;
    margin-bottom: 25px;
    font-family: "Trebuchet MS", sans-serif;
    margin-top:-20px;
}

.reviews-box {
    background: #f5f9ff;
    padding: 25px;
    margin: 15px auto;
    max-width: 700px;
    border: 2px solid #000;
    border-radius: 14px;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.reviews-box p {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
    font-family: "Trebuchet MS", sans-serif;
}

.reviews-box span {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    text-align: right;
}


